<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zrxjuly.dao.INewsDao" >
    <select id="selectByPrimaryKey" parameterType="String" resultType="News">
        SELECT * FROM news_info WHERE news_id = #{news_id}
    </select>

    <select id="getNewsById" parameterType="String" resultType="News">
        SELECT *
        FROM news_info
        WHERE news_id = #{news_id}
    </select>

    <insert id="addNews" parameterType="News">
        INSERT INTO news_info(news_id,news_title,news_column,news_author,news_updated_time,news_content,news_is_published)
        VALUES (UUID(),#{news_title},#{news_column},#{news_author},NOW(),#{news_content},0)
    </insert>

    <delete id="deleteNews" parameterType="String">
        DELETE FROM news_info
        WHERE news_id = #{news_id}
    </delete>

    <update id="editNews" parameterType="String">
        UPDATE news_info
        SET news_title = #{news_title}, news_author = #{news_author}, news_column = #{news_column}, news_content = #{news_content}
        WHERE news_id = #{news_id}
    </update>

    <update id="cancelNews" parameterType="String">
        UPDATE news_info
        SET news_is_published = 0
        WHERE news_id = #{news_id} AND news_is_published = 1
    </update>

    <update id="publishNews" parameterType="String">
        UPDATE news_info
        SET news_is_published = 1
        WHERE news_id = #{news_id} AND news_is_published = 0
    </update>

    <select id="getNotPublishedNewsList" parameterType="String" resultType="News">
        SELECT *
        FROM news_info
        WHERE news_is_published = 0
    </select>

    <select id="getPublishedNewsList" parameterType="String" resultType="News">
        SELECT *
        FROM news_info
        WHERE  news_is_published = 1
    </select>
    
</mapper>